**/unzipped
unzipped
cache
__pycache__
**/__pycache__
*.exe
test.png
*.zip
web
venv
.idea
assets/models
*.bak

*.sql
.vscode
converter/node_modules/
**/node_modules/
converter/yarn.lock
**/snapshot2/
**/avatars/
**/assets/